extends ../_shared/_base_layout

mails = public._data.propone.mails

append styles
  link(rel="stylesheet" href="propone/index.css")

block content
  - mails = public._data.propone.mails

  .titulo Proponé tu charla

  .row
    .col-md-6
      ul.tracks
        h3.title-bullet.text-uppercase: li Track Investigación
        p Trabajos científicos que tengan como objetivo mejorar la forma en que desarrollamos software o formamos nuevos profesionales, favoreciendo la interacción entre el ámbito académico y el industrial.
        .center: a.boton(href='propone/research.html') Más info

    .col-md-6
      ul.tracks
        h3.title-bullet.text-uppercase: li Track Experiencias
        p Exposiciones sobre experiencias concretas en la aplicación de tecnologías y metodologías innovadoras en el ámbito industrial y docente.
        p Enviá tu propuesta a 
            a(href="mailto:#{ mails.experiencias }") #{ mails.experiencias } 

  .row
    .col-md-6
      ul.tracks
        h3.title-bullet.text-uppercase: li Hands On
        p ¿Estás utilizando una tecnología innovadora? ¿Te animás a enseñarnos a dar los primeros pasos en un par de horas? 
        p Enviá tu propuesta a 
            a(href="mailto:#{ mails.handson }") #{ mails.handson } 

    .col-md-6
      ul.tracks
        h3.title-bullet.text-uppercase: li Mostrá tu proyecto
        p ¿Estás trabajando en un proyecto novedoso? ¡Vení y contanos tus ideas!
        p No se requiere inscripción previa, acercate con tu propuesta el día de la conferencia. En caso de dudas mandá tu consulta a 
            a(href="mailto:#{ mails.info }") #{ mails.handson } 
