extends ../_shared/_base_layout

append styles
  link(rel="stylesheet" href="handson/index.css")

append scripts
  script(src="https://maps.googleapis.com/maps/api/js")
  script(type='text/javascript').
    function initialize() {
      createMap({
        lat: -34.706508,
        lng: -58.2782888,
        htmlElement: 'map-unq',
        title: 'Universidad Nacional de Quilmes'
      });

      createMap({
        lat: -34.5866187,
        lng: -58.4044972,
        htmlElement: 'map-fiuba',
        title: 'Facultad de Ingeniería - UBA'
      });

    }

    function createMap(props) {
      var latlng = new google.maps.LatLng(props.lat, props.lng);
      var mapCanvas = document.getElementById(props.htmlElement);
      var mapOptions = {
        zoom: 14,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
          position: latlng,
          map: map,
          title: props.title
      });
      console.log(mapCanvas);
    }

    google.maps.event.addDomListener(window, 'load', initialize);


block content
  .titulo Hands on

  .row 
    .col-md-6.bajada
      p En estos talleres, convocamos a expertos en tecnologías innovadoras para que nos guíen en los primeros pasos para aprovechar las nuevas tecnologías en el día a día de nuestro trabajo. 
      p Acercate con tu notebook para venir a programar y tener una experiencia de primera mano construyendo software con estas herramientas.

      ul.talleres
        li
          .donde Facultad de Ingeniería UBA 
          .cuando Viernes 4 de septiembre - 
            a(href='handson/index#uba') Más info
        li
          .donde Universidad Nacional de Quilmes 
          .cuando Sábado 12 de septiembre - 
            a(href='handson/index#unq') Más info


    .col-md-6: img#foto(src='assets/img/foto-talleres_360.jpg')

  .row.taller 
    .col-xs-12
      a(name='uba')
      h2.subtitulo Facultad de Ingeniería - UBA

      each taller in public._data.talleres.uba
        .col-xs-12: ul.detalle
          h3.title-bullet: li= taller.titulo
          p= taller.cuando

          p.destacadito Resumen:
          each line in taller.abstract
            p= line
          
          p.destacadito Oradores:
          each orador, index in taller.oradores
            .orador
              p.nombre #{orador.nombre}
              p.bio #{orador.bio}

          p.destacadito Prerrequisitos:
          p Para asistir al taller es conveniente tener conocimientos básicos de:
            ul
              each pre in taller.conocimientos
                li !{pre}
          p Para aprovechar el taller al 100% te recomendamos asistir con tu compu y un entorno con:
            ul
              each pre in taller.entorno
                li !{pre}
            .center: a.boton(href='#{taller.inscripcion}') Inscribite

    .col-xs-12.col-md-4.datos
      .recuadro.center 
        span Próximamente anunciaremos <br>
        span.celeste.text-uppercase más 
        span talleres

      .proximamente
        p.cuando Viernes 4 de Septiembre
        p.direccion Avenida Las Heras 2214, C.A.B.A 

    .col-xs-12.col-md-8: #map-fiuba.map.center

  .row.taller 
    .col-xs-12
      a(name='unq')
      h2.subtitulo Universidad Nacional de Quilmes

      each taller in public._data.talleres.unq
        .col-xs-12: ul.detalle
          h3.title-bullet: li= taller.titulo
          p= taller.cuando

          p.destacadito Resumen:
          each line in taller.abstract
            p= line
          
          p.destacadito Oradores:
          each orador, index in taller.oradores
            .orador
              p.nombre #{orador.nombre}
              p.bio #{orador.bio}

          p.destacadito Prerrequisitos:
          p Para asistir al taller es conveniente tener conocimientos básicos de:
            ul
              each pre in taller.conocimientos
                li !{pre}
          p Para aprovechar el taller al 100% te recomendamos asistir con tu compu y un entorno con:
            ul
              each pre in taller.entorno
                li !{pre}
            .center: a.boton(href='#{taller.inscripcion}') Inscribite

    .col-xs-12.col-md-4.datos
      .recuadro.center 
        span Próximamente anunciaremos <br>
        span.celeste.text-uppercase más 
        span talleres

      .proximamente
        p.cuando Sábado 12 de Septiembre
        p.direccion Roque Saenz Peña 352 <br> Bernal, Pcia. de Buenos Aires

    .col-xs-12.col-md-8: #map-unq.map.center
